
.footer, .footer > *
    padding: 0 !important
    margin: 0 !important
/*
 * when you use the logo property the SmartSLA title shows alongside the logo, you see smartsla 2 times.
 * but when you remove the title, the SmartSLA title is gone but the tab title becomes vuepress ( default value ).
 * the solution is to keep the title, this keeps SmartSLA in the tab title and we hide the page title using style override
 */
.site-name.can-hide
  display: none

.feature > p > a
  text-decoration: none;
  color: grey;

.feature > p
  line-height: 1
